body {
    padding: 19% ;
    background-color: rgb(187, 101, 248);
    font-family: Helvetica;
    color: green;
}

.image{
    border: 5px solid green;
    border-radius: 50px;
    height: 400px;
    place-items: center;
    display: block;
      margin: 0 auto;
      width: 40%;
}


.link-button {
    text-decoration: none;
    color: rgb(44, 41, 41);
    border: 1px solid rgb(127, 128, 84);
    background-color: #ffe75f;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.link-button:hover {
    color: rgb(31, 21, 167);
}
